<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="two.example.shen.yue.espressoprojectone">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--MV5BZ-BOLHJ-42HFF-FY3ZC-GZEYJ-ENBMA-->

        <meta-data
            android:name="TencentMapSDK"
            android:value="MV5BZ-BOLHJ-42HFF-FY3ZC-GZEYJ-ENBMA"/>

        <activity android:name=".activity.Activity1" />
        <activity android:name=".activity.Activity2" />
        <activity android:name=".activity.Activity3" />
        <activity android:name=".activity.Activity4" />
        <activity android:name=".activity.Activity5" />
        <activity android:name=".activity.Activity6" />
        <activity android:name=".activity.Activity7" />
        <activity android:name=".activity.Activity8" />
        <activity android:name=".activity.Activity9" />
        <activity android:name=".activity.Activity10" />
        <activity android:name=".activity.Activity14" />
        <activity android:name=".activity.Activity15"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".utils.CrashDialogActivity" />

        <service android:name=".service.TestIntentService1" />

        <activity
            android:name=".activity.Activity11"
            android:label="@string/title_activity_11"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.Activity12" />
        <activity android:name=".activity.Activity13"/>
        <activity android:name=".activity.Activity16"/>
        <activity android:name=".activity.Activity17"/>
        <activity android:name=".other.DefaultActivity"/>


        <activity android:name=".kotlin.Kotlin1"/>
        <activity android:name=".other.KotlinMapActivity"/>
        <activity android:name=".other.JavaMapActivity"/>
    </application>

</manifest>